@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variables */
  /* --colorPrimaryBlack: #020617; */
  --colorPrimaryBlack: #020617;
  --colorGray: #6B7280;
  --colorHoverGray: #EFF2F4;
  --colorBabyGreen: #DDF7EC;
  --colorGreen: #0B9F6E;
  --colorGranGreen: #087453;
  --colorBabyAmber: #FEEFD6;
  --colorAmber: #B86D2A;
  --colorGranAmber: #AA5924;
  --colorBabyBlue: #C2E0FB;
  --colorBlue: #2F76E1;
  --colorGrandBlue: #245AC1;
}

img {
  aspect-ratio: 16/9;
}

.text-primary-black {
  color: var(--colorPrimaryBlack);
}

.bg-primary-black {
  background-color: var(--colorPrimaryBlack);
}

.border-primary-all {
  border: 1px solid var(--colorHoverGray);;
}

.text-secondary-gray {
  color: var(--colorGray);
}

.text-baby-green {
  color: var(--colorBabyGreen);
}

.text-green {
  color: var(--colorGreen);
}

.text-grand-green {
  color: var(--colorGranGreen);
}

.text-baby-green {
  color: var(--colorBabyGreen);
}

.bg-baby-green {
  background-color: var(--colorBabyGreen);
}

.bg-baby-amber {
  background-color: var(--colorBabyAmber);
}

.text-amber {
  color: var(--colorAmber);
}

.text-grand-amber {
  color: var(--colorGranAmber);
}

.bg-baby-blue {
  background-color: var(--colorBabyBlue);
}

.text-blue {
  color: var(--colorBlue);
}

.text-grand-blue {
  color: var(--colorGrandBlue);
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
